.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
*.tif
*.mov
/*
!boba/
!bog/
!breathe/
!branch/
!brom/
!bubblegum/
!burger/
!cafeconleche/
!cloudlight/
!constellation/
!cookies/
!copical/
!cupcake/
!damask/
!damask_droplets/
!dimsum/
!dither/
!donut/
!donutsphere/
!donutchain/
!donutfountain/
!edges/
!eve/
!evens/
!flan/
!flit/
!flit/assets/*
!frufru/
!grotto/
!ice_cream/
!lorenzecookies/
!nebulae/
!pastelito_de_guayaba/
!pizza/
!poisson_pumpkin_patch/
!popcorn/
!rain/
!range/
!reeds/
!ripple/
!seed/
!smoothies/
!spark/
!spin/
!sugarplums/
!sushi/
!taco/
!tentacle/
!thicket/
!tide/
!tile/
!tumble/
!urchin/
!vinewhip/
!violets/
!voronoi_city/